# --- ICICI Direct Credentials ---
ICICI_API_KEY="8540h7$657NiK3Dc6f30dn64M660217V"
ICICI_SECRET_KEY="40KR080k*8683x+7806152`!8w17p27U"
ICICI_SESSION_TOKEN=""

# --- Zerodha Kite Credentials ---
KITE_API_KEY=""
KITE_ACCESS_TOKEN=""
